<table style="width:100%" *ngIf="tableShow">
  <thead>
    <tr>
      <th>Note</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let expense_2 of expense | keyvalue">
      <ng-container *ngIf="expense_2.key === 'expense'">
        <tr *ngFor="let expense_3 of $any(expense_2).value; let i = index">
          <td>
            <ng-container *ngIf=" isEditing && i===selectedRow; else viewNote">
              <input type="text" [value]="expense_3.note" #note>
            </ng-container>
            <ng-template #viewNote>
              {{expense_3.note}}
            </ng-template>
          </td>
          <td><ng-container *ngIf=" isEditing && i===selectedRow; else viewAmount">
            <input type="text" [value]="expense_3.amount" #amount>
          </ng-container>
          <ng-template #viewAmount>
            {{expense_3.amount}}
          </ng-template></td>
          <td>
            <div [ngClass]="'edit_delete'">
              <ng-container *ngIf="isEditing && i===selectedRow; else editBtn">
                <button (click)="update(i)">Update</button>
              </ng-container>
              <ng-template #editBtn>
                <button (click)="edit(i)">Edit</button>
              </ng-template>
              <button (click)="delete(i)">Delete</button>
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>