<button (click)="budgetSheetList()">Budget Sheet List</button>
    <h2>Create a budget sheet</h2>
    <form [formGroup]="sheetForm" (ngSubmit)="onSubmit()">
        <input type="date" formControlName="date">
        <div>
            <div><input type="text" placeholder="Note" formControlName="note"></div>
            <div><input type="text" placeholder="Amount" formControlName="amount"></div>
            <button type="submit">Add</button>
        </div>
    </form>
<app-expense-added></app-expense-added>